* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    place-items: center;
}

.login-main {
    background-color: #fff;
    margin: 40px;
    display: flex  ;
    justify-content: left;
    width: 450px;
    height: 580px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: #fff;
}

.login-form {
    margin: 25px;
    width: 400px;
    height: 400px;
    
}

.login-form .login-link {
    text-align: center;
    margin: 15px;
    font: 1em sans-serif;
}
.login-form .login-link a {
    color: black;
    margin: 0 15px;
}
.login-form .login-link a:hover {
    color: grey;
    text-decoration: none;
}

.login-form .login-header h3{
    margin: 5px 0;
    font-size: 2em;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.login-form .login-header p{
    margin: 5px 0;
    font-size: 1em;
    text-align: left;

}

.login-form .login-body .form-group{
    font-size: 1.1em;
    font-weight: 500;
    margin: 18px 0;
}
.login-form .login-body .form-group input{
    height: 45px;
}
.login-form .login-body .login-button {
    padding: 15px 0;
}

.login-form .login-body button {
    height: 40px;
    width: 130px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.login-form .login-body a {
    color: black;
}

.login-form .login-body a:hover {
    color: gray;
    text-decoration: none;
}

.login-form hr {
    margin-top: 50px ;
}

.login-form .login-footer {
    
    width: 400px;
    text-align: center;
    border-radius: 10px;
    font: 1em sans-serif;
}


.login-form .login-footer .login-a{
    margin: 10px 0;
}
.login-form .login-footer .login-a div{
    margin: 10px 0;
}
.login-form .login-footer .login-a div a{
    height: 35px;
    width: 280px;
    border-radius: 25px;
}