<!doctype html>
<html lang="en">
  <head>
	<title>Title</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="layou.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>	
</head>
  <body>
	  <div class="container">
		<div class="row">
			<div class='container'>
				<div class='window'>
				  <div class='order-info'>
					<div class='order-info-content'>
					  <h2>Order Summary</h2>
							  <div class='line'></div>
					  <table class='order-table'>
						<tbody>
						  <tr>
							<td><img src='https://dl.dropboxusercontent.com/s/sim84r2xfedj99n/%24_32.JPG' class='full-width'></img>
							</td>
							<td>
							  <br> <span class='thin'>Nike</span>
							  <br> Free Run 3.0 Women<br> <span class='thin small'> Color: Grey/Orange, Size: 10.5<br><br></span>
							</td>
			  
						  </tr>
						  <tr>
							<td>
							  <div class='price'>$99.95</div>
							</td>
						  </tr>
						</tbody>
			  
					  </table>
					  <div class='line'></div>
					  <table class='order-table'>
						<tbody>
						  <tr>
							<td><img src='https://dl.dropboxusercontent.com/s/qbj9tsbvthqq72c/Vintage-20L-Backpack-by-Fj%C3%A4llr%C3%A4ven.jpg' class='full-width'></img>
							</td>
							<td>
							  <br> <span class='thin'>Fjällräven</span>
							  <br>Vintage Backpack<br> <span class='thin small'> Color: Olive, Size: 20L</span>
							</td>
						  </tr>
						  <tr>
							<td>
							  <div class='price'>$235.95</div>
							</td>
						  </tr>
						</tbody>
					  </table>
					  <div class='line'></div>
					  <table class='order-table'>
						<tbody>
						  <tr>
							<td><img src='https://dl.dropboxusercontent.com/s/nbr4koso8dpoggs/6136C1p5FjL._SL1500_.jpg' class='full-width'></img>
							</td>
							<td>
							  <br> <span class='thin'>Monobento</span>
							  <br>Double Lunchbox<br> <span class='thin small'> Color: Pink, Size: Medium</span>
							</td>
			  
						  </tr>
						  <tr>
							<td>
							  <div class='price'>$25.95</div>
							</td>
						  </tr>
						</tbody>
					  </table>
					  <div class='line'></div>
					  <div class='total'>
						<span style='float:left;'>
						  <div class='thin dense'>Subtotal</div>
						  <div class='thin dense'>Shipping</div>
						  TOTAL
						</span>
						<span style='float:right; text-align:right;'>
						  <div class='thin dense'>$68.75</div>
						  <div class='thin dense'>$4.95</div>
						  $435.55
						</span>
					  </div>
			  </div>
			  </div>
					  <div class='credit-info'>
						<div class='credit-info-content'>
						  <table class='half-input-table'>
							  <div class='dropdown-select'>
							  <ul>
								<li>Master Card</li>
								<li>American Express</li>
								</ul></div>
							  </div>
							 </td></tr>
						  </table>
						 
						  Username:
						  <input class='input-field' ></input>
						  Email:
						  <input class='input-field'></input>
						  Fullname:
						  <input class='input-field' ></input>
						  Address:
						  <input class='input-field' ></input>
						  
							<label for="fecha">Oderdate</label>
							<input type="date" class="form-control" id="fecha" name="fecha">
							<br>
								<select class="form-select" aria-label="Default select example" style="  background:#4488dd;;">
									<option selected>Country</option>
									<option value="1">VietNam</option>
									<option value="2">Korea</option>
									<option value="3">Us</option>
								  </select>
							  <td>Postal code
								<input class='input-field'/>
							  </td>
							</tr>
						  </table>
						  <button class="pay-btn" >Return to card</button>
			  
						</div>
			  
					  </div>
					</div>
			  </div>
		</div>
	  </div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>